<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Gallery of {{ profile }}</title>
</head>

<body>
    <a href="/">Index</a>
    <hr />
    {% for video in videos %}
    <video width="400" height="200" controls>
        <source src="/{{ root }}/{{ profile }}/{{ video }}" type="video/mp4">
    </video>
    {% endfor %}
    {% for image in images %}
    <a href="/{{ root }}/{{ profile }}/{{ image.name }}" target="_blank">
        <img src="data:image/png;base64,{{ image.data }}" style="height: 200px; width: 200px" />
    </a>
    {% endfor %}
</body>

</html>